[submodule "ptxasm"]
	path = ptxasm
	url = git@github.com:chisuhua/ptxasm.git
[submodule "opuas"]
	path = opuas
	url = git@github.com:chisuhua/opuas.git
[submodule "opuisa"]
	path = opuisa
	url = git@github.com:chisuhua/opuisa.git
